@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-fly {
  animation: fly 5s linear infinite;
}

@keyframes fly {
  0% { transform: translateX(-100vw); }
  100% { transform: translateX(100vw); }
}
